.DS_Store
.AppleDouble
.LSOverride
Icon
.RProj.user
*.RProj
.Rhistory
.RData
.RDataTmp
testing*.R
ignore/*

.dropbox
.Dropbox

Icon

=======
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
rcode/.Rhistory

# History files
.Rhistory

# Example code in package build process
*-Ex.R
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
=======
.Rproj.user


*.ipynb
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/verisr.iml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/verisr.iml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
